@font-face {
    font-family: 'GenshinImpact';
    src: url('genshin.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

html {
    color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'GenshinImpact', serif;
    font-size: 14px;
}

body, #app {
    height: 100%;
}

#app {
    display: flex;
}

.screen {
    display: flex;
    flex-direction: column;
    margin: 1em auto auto auto;
}

.screen > .title {
    display: flex;
    text-align: center;
}

.title span {
    margin: auto;
    line-height: 3em;
}

.screen > .title span {
    margin: auto auto 0 auto;
}

.content {
    position: relative;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.frame {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.7;
    padding: 8px;
}

.frame.active {
    opacity: 1;
    background-color: rgba(0,0,0,0.8)
}

.frame.completed {
    opacity: 0.2;
}

.image .frame {
    opacity: 1;
    border-radius: 4px;
}

.frame div {
    display: flex;
}

.frame div > * {
    margin: auto;
}

.frame .small {
    height: calc(100% / 5);
}

.frame .big {
    height: calc(calc(100% / 5) * 4);
    font-size: 2.5em;
}

.frame img {
    max-width: 90%;
    max-height: 90%;
}
